<div class="contato-form">
    <mat-card>
      <mat-card-title>Entre em Contato</mat-card-title>
      <mat-card-content>
        <form>
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input  name="todo.titulo" matInput   matInput>
              </mat-form-field>
  
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
  
              <mat-form-field>
                <mat-label>Mensagem</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit">Enviar Mensagem</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  