<div class="home-body">
    <div class="flex-row header">
        <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="menuClick($event.label)"></p-tabMenu>
    </div>
    <p-card header="Anúncios" class="cards">
        <p-table #dt1 [value]="anuncios">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button pButton label="Clear"  (click)="clear()" class="p-button-outlined" icon="pi pi-filter-slash" ></button>
                    <span class="p-input-icon-left ml-auto">
                        <p-calendar [(ngModel)]="ano" view="year" dateFormat="yy" inputId="yearpicker" placeholder="Filtrar por ano" (click)="buscarPorAno()"></p-calendar>
                        <input pInputText type="text" [(ngModel)]="filtroModelo" (input)="buscarPorModelo()" placeholder="Filtrar por Modelo" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="modelo" style="width:20%">Modelo<p-sortIcon field="modelo"></p-sortIcon></th>
                    <th pSortableColumn="marca" style="width:20%">Marca<p-sortIcon field="marca"></p-sortIcon></th>
                    <th pSortableColumn="estado" style="width:20%">Estado<p-sortIcon field="estado"></p-sortIcon></th>
                    <th pSortableColumn="ano" style="width:20%">Ano<p-sortIcon field="ano"></p-sortIcon></th>
                    <th pSortableColumn="cor" style="width:20%">Cor<p-sortIcon field="cor"></p-sortIcon></th>
                    <th pSortableColumn="preco" style="width:20%">Preco<p-sortIcon field="preco"></p-sortIcon></th>
                    <th pSortableColumn="wmail" style="width:20%">Email<p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="actions" style="width:20%">Actions<p-sortIcon field="actions"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.modelo }}</td>
                    <td>{{ product.marca }}</td>
                    <td>{{ product.estado }}</td>
                    <td>{{ product.ano }}</td>
                    <td>{{ product.cor }}</td>
                    <td>{{ product.preco }}</td>
                    <td>{{ product.pessoaEmail }}</td>
                    <td *ngIf="product.pessoaEmail === user.email || user.admin">
                        <p-button icon="pi pi-trash" (onClick)="deleteAnuncio(product.id)" [rounded]="true" severity="danger"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
    
    <div *ngIf="user.admin" style="width: 90%;">
        <p-divider class="pad10 w-100"></p-divider>

        <p-card header="Pessoas" class="cards">
            <p-table [value]="pessoas" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Admin</th>
                        <th *ngIf="user.admin">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.email }}</td>
                        <td *ngIf="product.admin"><i class="pi pi-check"></i></td>
                        <td *ngIf="!product.admin"><i class="pi pi-times"></i></td>
                        <td *ngIf="!product.admin && user.admin">
                            <p-button icon="pi pi-trash" (onClick)="deletePessoa(product.id)" [rounded]="true" severity="danger"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>
    
    
    <p-dialog header="Novo anúncio" [(visible)]="displayAnuncio" [modal]="true" [style]="{ width: '50%' }" [draggable]="false" [resizable]="false">
        <app-anuncio (anuncioEvent)="AnuncioClose($event)"></app-anuncio>
    </p-dialog>
</div>