.home-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-holders{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 90%;
}

.cards{
    width: 90%;
}

.header{
    align-items: center;
}

.buttons{
    margin-right: 4px;
}