<div class="quem-somos">
    <h2><span class="material-icons">groups</span> Quem Somos</h2>
    <p>
      Bem-vindo à AutoAnúncios.com, sua principal solução para gerenciamento de anúncios de carros. Nós nos destacamos
      por nossa paixão em fornecer soluções inovadoras para conectar compradores e vendedores de veículos de forma eficiente
      e confiável.
    </p>
  
    <h3><span class="material-icons">emoji_objects</span> Nossa Missão</h3>
    <p>
      Nossa missão é simplificar e aprimorar o processo de compra e venda de carros, oferecendo uma plataforma confiável,
      acessível e fácil de usar. Estamos comprometidos em proporcionar uma experiência excepcional aos nossos usuários.
    </p>
  
    <h3><span class="material-icons">thumb_up</span> Valores</h3>
    <ul>
      <li>
        <mat-icon>visibility</mat-icon>
        <span>Transparência:</span> Acreditamos na transparência em todas as transações, proporcionando confiança aos nossos usuários.
      </li>
      <li>
        <mat-icon>verified_user</mat-icon>
        <span>Confiança:</span> Construímos relacionamentos sólidos baseados na confiança mútua com nossos clientes e parceiros.
      </li>
      <li>
        <mat-icon>lightbulb</mat-icon>
        <span>Inovação:</span> Buscamos constantemente a inovação para oferecer as melhores soluções em gerenciamento de anúncios.
      </li>
      <li>
        <mat-icon>assignment_turned_in</mat-icon>
        <span>Comprometimento:</span> Somos dedicados a cumprir nossas promessas e a alcançar a excelência em cada interação.
      </li>
    </ul>
  
    <h3><span class="material-icons">article</span> Sobre Nós</h3>
    <p>
      AutoAnúncios.com foi fundada em 2019 e desde então tem sido líder no setor de gerenciamento de anúncios
      de carros. Com uma equipe apaixonada e experiente, estamos comprometidos em oferecer serviços de alta qualidade e
      inovação contínua.
    </p>
  
    <h3><span class="material-icons">contact_support</span> Entre em Contato</h3>
    <p>
      Tem dúvidas ou sugestões? Entre em contato conosco! Estamos aqui para ajudar. Você pode nos encontrar em nossos
      escritórios ou entrar em contato por telefone ou e-mail.
    </p>

    <button class="contate-nos-button">Contate-nos</button>
  </div>
  