<p-scrollPanel [style]="{ width: '100%', height: '100vh', overflow: 'auto'}">
<div class="quem-somos">
    <h2><span class="pi pi-users"></span> Quem Somos</h2>
    <p>
        Bem-vindo à AutoAnúncios.com, sua principal solução para gerenciamento de anúncios de carros. Nós nos destacamos
        por nossa paixão em fornecer soluções inovadoras para conectar compradores e vendedores de veículos de forma eficiente
        e confiável.
    </p>

    <h3><span class="pi pi-smile"></span> Nossa Missão</h3>
    <p>
        Nossa missão é simplificar e aprimorar o processo de compra e venda de carros, oferecendo uma plataforma confiável,
        acessível e fácil de usar. Estamos comprometidos em proporcionar uma experiência excepcional aos nossos usuários.
    </p>

    <h3><span class="pi pi-thumbs-up"></span> Valores</h3>
    <ul>
        <li>
            <i class="pi pi-eye"></i>
            <span>Transparência:</span> Acreditamos na transparência em todas as transações, proporcionando confiança aos nossos usuários.
        </li>
        <li>
            <i class="pi pi-check-circle"></i>
            <span>Confiança:</span> Construímos relacionamentos sólidos baseados na confiança mútua com nossos clientes e parceiros.
        </li>
        <li>
            <i class="pi pi-bolt"></i>
            <span>Inovação:</span> Buscamos constantemente a inovação para oferecer as melhores soluções em gerenciamento de anúncios.
        </li>
        <li>
            <i class="pi pi-check"></i>
            <span>Comprometimento:</span> Somos dedicados a cumprir nossas promessas e a alcançar a excelência em cada interação.
        </li>
    </ul>

    <h3><span class="pi pi-file"></span> Sobre Nós</h3>
    <p>
        AutoAnúncios.com foi fundada em 2019 e desde então tem sido líder no setor de gerenciamento de anúncios
        de carros. Com uma equipe apaixonada e experiente, estamos comprometidos em oferecer serviços de alta qualidade e
        inovação contínua.
    </p>

    <h3><span class="pi pi-envelope"></span> Entre em Contato</h3>
    <p>
        Tem dúvidas ou sugestões? Entre em contato conosco! Estamos aqui para ajudar. Você pode nos encontrar em nossos
        escritórios ou entrar em contato por telefone ou e-mail.
    </p>

    <button (click)="voltarClick()" class="contate-nos-button">voltar</button>

</div>
</p-scrollPanel>

